body {
  background-color: #15a3c7;
  color: white;
  font-family: "DM Serif Display", serif;
  font-family: "Libre Baskerville", serif;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}

.intro {
  text-align: center;
  font-size: 2rem;
}
a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
a:hover {
  color: #344986;
}
nav {
  text-align: center;
  width: 80%;
  /* overflow: hidden; */

  position: fixed; /* Set the navbar to fixed position */
  background-color: #3576a7;
  top: 0; /* Position the navbar at the top of the page */

  z-index: 2;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
  /* float: left; */
}

a {
  /* display: block; */
  padding: 8px;
}
.resume {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left {
  text-align: left;
  /* padding-right: 25%; */
}
.middle {
  text-align: center;
  /* padding: 0 10%; */
}
.right {
  text-align: right;
  /* padding-left: 25%; */
}

.left,
.middle,
.right {
  font-size: large;
  width: 30%;
}
